*{
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --primaria : rgb(49, 49, 49);
    --secundaria : gray;
}

header, main, footer{
    width: 100%;
}

/* header */

nav{
    background-color: var(--primaria);
    display: flex;
}

#banner{
    width: 100%;
    height: 400px;
    display: flex; /*para mudar a logo para o centro*/
    justify-content: center; /*mesma coisa*/
    background-color: gray;
    /* background image - chama imagem */
    background-image: url(../images/ImagensGeral/banner.jpg);
    /* configura repetição*/
    background-repeat: no-repeat;
    /* controlar o tamanh do background */
    background-size: cover;
    background-position: center;
}

#logo{
    width: 100px;
}

#logo img{
    width: 100%; /*seguir o pai LOGO*/
}

/* menu */

#menu{
    width: 100%;
    padding: 10px;
    text-align: center;
}

#menu a{
    margin: 30px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

/* topicos */
#topicos, #eventos{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.topico, .evento{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.topicoImg{
    width: 100px;
}

.topicoImg img{
    width: 100%;
    border-radius: 100%;

}

button{
    padding: 5px 10px;
}

/* agenda */
#agenda{
    background-color: rgb(233, 233, 233);
    height: 300px;
}

.dataEvento{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.evento{
    flex-direction: row;
    align-items: start;
}

/* galeria */
#galeria{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

#galeriaImagens{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

.galeriaImagens{
    width: 20%;
    height: 200px;
    background-image: url(../images/ImagensGeral/galeriaimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#galeriaImg1{
    background-image: url(/images/ImagensGeral/07774ecf7f0e39243d9abb3c5e4bcc03.jpg);
}

#galeriaImg2{
    background-image: url(/images/ImagensGeral/09fe2f02b18c258ac4003209df4989e7.jpg);
}

#galeriaImg3{
    background-image: url(/images/ImagensGeral/275-bike.jpg);
}

#galeriaImg4{
    background-image: url(/images/ImagensGeral/40dc178368b4b17b22d471bb917c483e.jpg);
}

#galeriaImg5{
    background-image: url(/images/ImagensGeral/39c962e8cef92f4637835dd987c0755b.jpg);
}

#galeriaImg6{
    background-image: url(/images/ImagensGeral/4566499885_96f5db7ab4_o.jpg);
}

#galeriaImg7{
    background-image: url(/images/ImagensGeral/b69027b477e3641ebcbe13ada9ca7a34.jpg);
}

#galeriaImg8{
    background-image: url(/images/ImagensGeral/c4fe9d5ff5faa035af332874882a3932.jpg);
}

#galeriaImg9{
    background-image: url(/images/ImagensGeral/cdcc96c7a92f0ea4989350ec66483916.jpg);
}

#galeriaImg10{
    background-image: url(/images/ImagensGeral/fcf611df3b11b66970d78799a7db5cff.jpg);
}

footer{
    background-color: rgb(80, 80, 80);
    padding: 40px;
}
